<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="{{ url_for('static', filename='script/dashboard.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{{session['username']}}'s Dashboard</title>
</head>
    <body >
        <!-- these are hidden initally, they are what is revealed when you hit edit button -->
        {%for t in all_timers%}
        <div id="{{t['id']}} {{t['name']}}" class="text-white container col-lg-4 col-sm-12" style="position:fixed; z-index: 9999; top:50%; left:50%; margin:auto; transform: translate(-50%, -50%); display:none;">
            <div class="container bg-secondary rounded">
                <h3 class="card-header text-center" style="width: 100%">Edit Timer</h3>
                <form id="edit-form-{{t['id']}}" method='POST'>
                    <div class="text-white form-group">
                        <input type="hidden" name="id" value="{{t['id']}}">
                        <label for="name">Name:</label>
                        <input class="form-control" type="text" name="name" value="{{t['name']}}">
                        <label for="exercise_time">Exercise Time (Seconds):</label>
                        <input class="form-control" type="number" name="exercise_time" value="{{t['exercise_time']}}">
                        <label for="name">Rest Time (Seconds):</label>
                        <input class="form-control" type="number" name="rest_time" value="{{t['rest_time']}}">
                        <label for="sets">How many sets?</label>
                        <input class="form-control" type="number" name="sets" value="{{t['sets']}}">
                        <div class="d-flex justify-content-center align-items-center">
                            <input type="submit" value="Submit"  class="btn btn-dark btn-lg my-3">                
                            <button type="button" class="btn btn-danger btn-lg" onclick="hideEdit(this)">Back</button>
                        </div>
                </div>
            </form>
            </div>
        </div>
        {%endfor%}

        <div id="create" class="my-4 text-white container col-lg-4 col-sm-12" style="position:fixed; z-index: 9999; top:50%; left:50%; margin:auto; transform: translate(-50%, -50%); display:none;">
            <div class="container bg-secondary rounded">
                <h3 class="card-header text-center" style="width: 100%">Create A Timer</h3>
                <form action="/create_timer" method='POST'>
                    <div class="text-white form-group">
                        <label for="name">Name:</label>
                        <input class="form-control" type="text" name="name">
                        <label for="exercise_time">Exercise Time (Seconds):</label>
                        <input class="form-control" type="number" name="exercise_time">
                        <label for="name">Rest Time (Seconds):</label>
                        <input class="form-control" type="number" name="rest_time">
                        <label for="sets">How many sets?</label>
                        <input class="form-control" type="number" name="sets">
                        <input type="hidden" name="user_id" value="{{session['user_id']}}">
                        <div class="d-flex justify-content-center">
                        <div>
                            <input type="submit" value="Create"  class="btn btn-dark btn-lg my-3">
                            <button class="btn btn-danger btn-lg" type="button" onclick="hideCreate()">Back</button>
                        </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>



        <!-- everthing below here is the main body that is blurred -->
        <div id="blur">
        <nav class="nav d-flex justify-content-end align-items-center" style="background-color:#333;">
                <h2 class="p-3 text-white">{{session['username']}}</h2>
            <div>
                <a href="/logout" class="btn btn-secondary btn-lg d-inline-block mr-3">Logout</a>
            </div>
        </nav>
            <div class="container">
                <div class="row">

            <div class="my-4 rounded container bg-secondary d-flex flex-column align-items-center" style="max-width:500px">
                <h1 class="text-white card-header bg-secondary">Your Exercise Timers</h1>
                <button class="btn btn-dark btn-lg mt-3" type="button" onclick="revealCreate()">Add A New Timer</button>
                {%for t in all_timers%}
                <div id="timer-{{t['id']}}-container" class="container text-dark my-3 bg-light rounded d-flex flex-column align-items-center">
                    <h4>{{t['name']}}</h4>
                    <p>Exercise (seconds): {{t['exercise_time']}}</p>
                    <p>Rest (seconds): {{t['rest_time']}}</p>
                    <p>Total Sets: {{t['sets']}}</p>
                    <div class="my-2">
                    <a class="btn btn-dark btn-sm" href="/view/timer/{{t['id']}}">View</a>
                    <button id="{{t['id']}}" name="{{t['name']}}" class="btn btn-dark btn-sm" onclick="revealEdit(this.id, this.name)">Edit</button>
                    <a id="destroy-{{t['id']}}" class="btn btn-dark btn-sm text-white" onclick="destroyTimer(this.id)">Delete</a>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
    </div>
    </body>
</html>
