/* Universal CSS Reset */
* {
    margin: 0px auto;
    padding: 0px;
}

/* Timer Stylings */
.timer-ctr {
    width: 500px;
}
.timer-ctr > * {
    margin: 10px;
    padding: 10px;
}
#countdown {
    font-size: 6rem;
}
.play-btn {
    background-color: green;
    width: 200px;
    border-radius: 20px;
    border: 0px;
}

/* Login/Registration Page Stylings */
.flex-ctr {
    margin-top: 40px;
}


.form-card {
    background-color: rgb(113, 186, 232);
    border-radius: 30px;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-head, .form-field {
    margin: 20px auto;
}
.accent-ln {
    width: 80%;
    height: 1px;
    background-color: black;
}
label {
    margin-right: 10px;
}
.submit-btn {
    margin: 0px auto;
    padding: 20px 0px;
    width: 100%;
    border: 0px;
    border-radius: 5px;
    background-color: rgb(226, 226, 226);
    font-size: 1.5rem;
}
