/* Universal CSS Reset */
* {
    margin: 0px auto;
    padding: 0px;
}

/* Timer Stylings */
.timer-ctr {
    width: 500px;
}
.timer-ctr > * {
    margin: 10px;
    padding: 10px;
}
#countdown {
    font-size: 6rem;
}
.play-btn {
    margin: 10px;
    background-color: green;
    color: white;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: 0px;
}

.timer-head {
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 20px;
    margin: 0px auto 20px auto;
    background-color: #333;
    color: white;
}

.timer-title {
    font-size: 2rem;
}

/* Login/Registration Page Stylings */
.flex-ctr {
    margin: 20px;
}


.form-card {
    color: white;
    background-color: rgb(95, 163, 205);
    border-radius: 30px;
    padding:20px;
    margin-top: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer-card {
    color: white;
    background-color: rgb(95, 163, 205);
    border-radius: 30px;
    padding: 20px;
    margin-top: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-head, .form-field {
    margin: 20px auto;
}

.accent-ln {
    width: 80%;
    height: 1px;
    background-color: white;
}
label {
    margin-right: 10px;
}
.submit-btn {
    margin: 10px auto;
    padding: 20px 0px;
    width: 100%;
    border: 0px;
    border-radius: 5px;
    background-color: rgb(226, 226, 226);
    font-size: 1.5rem;
}

/* dashboard stuff */

.timer-edit {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
    margin: auto;
    transform: translate(-50%, -75%);
}

.disabled-btn {
    pointer-events: none;
}

.flashes {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgba(207, 207, 207, 0.7);
    list-style: none;
}

li {
    font-weight: bold;
}
